{% extends 'account/base.html' %} 

{% comment %} {% extends "account/base.html" %}
{% block title %}login{% endblock title %}
{% load i18n %}
{% load account socialaccount %}

{% load crispy_forms_filters %}

{% block head_title %}{% endblock %}

{% block content %}

  <div class="text-center">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts.<br>Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <div class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </div>

      <div class="login-or border-top border-bottom my-3">{% trans 'OR' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="d-grid">
            <button class="primaryAction mt-3 btn btn-dark" type="submit">{% trans "Sign In" %}</button><br>
            <a class="button secondaryAction text-dark text-center" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
        </form>
    </div>
  </div>
{% endblock %} {% endcomment %}
{% block title %}Login{% endblock title %} 
{% block content %}

<div class="card bg-light p-5">

  {% for message in messages %}

  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  
  <h3 class="text-dark">Login</h3>

  <form action="/scipartners/login/" method="post">
    {% csrf_token %}
    <br />

    <label for="email">Email</label>
    <div class="form-group">
      <input
        type="email"
        class="form-control p-2"
        id="email"
        name="email"
        required
      />
    </div>
    <label for="pass1">Password</label>
    <div class="form-group">
      <input
        type="password"
        class="form-control p-2"
        id="pass1"
        name="pass1"
        required
      />
    </div>
   
    <br />
    <button type="submit" class="btn btn-dark">Login</button>
    <br>
    <span> Forget Password? <a href="/auth/request-reset-email/">Reset</a></span>
    <br>
    <br />
    New User? <a href="/auth/signup/">Signup</a>
    <br />
  </form>
</div>
{% load socialaccount %}

<h2>Login</h2>
<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>

<p>Or login with:</p>
<a href="{% provider_login_url 'google' %}">Google</a>
<a href="{% provider_login_url 'github' %}">GitHub</a>
{% comment %} <a href="{% provider_login_url 'linkedin_oauth2' %}">LinkedIn</a> {% endcomment %}
{% comment %} <a href="{% provider_login_url 'twitter' %}">Twitter</a> {% endcomment %}
{% comment %} <a href="{% provider_login_url 'facebook' %}">Facebook</a> {% endcomment %}

{% endblock content %}




