{% extends 'account/base.html' %} 


{% load static %}
{% block title %}Login{% endblock title %} 
{% block body %}

<div class="card bg-light p-5">

  {% for message in messages %}

  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% load socialaccount %}
<br>

  <p>login with:</p>

<a href="{% provider_login_url 'google' %}"><img src="{% static 'images/google.png' %}" alt="google login"></a>
<br>
<a href="{% provider_login_url 'github' %}"><img src="{% static 'images/GitHub.png' %}" alt="GitHub login"></a>


  <h3 class="text-dark">Login</h3>

  <form action="{% url 'account_login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br />
    <span> Forget Password? <a href="/accounts/request-reset-email/">Reset</a></span>
    <br>
    <br />
    New User? <a href="/accounts/signup/">Signup</a>
    <br />
  </form>
</div>

{% endblock body %}




