{% extends "account/base.html" %}



{% block title %}SignUp{% endblock %}

{% block content %}
<div class="text-center">

    <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="show" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-grid mt-3">
            <button class="btn btn-dark" type="submit">Sign Up</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}