{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Deactivate Account</h2>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to deactivate your account?</p>
                    <p>This action is irreversible, and your account data will be permanently deleted.</p>
                    
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Deactivate My Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
